@import "./../../../../../../variables.scss";

.service_wrapper {
    width: 280px;

    .price {
        color: $base-color;
        opacity: .65;
        
        font-size: 48px;
        font-weight: bold;
        line-height: 59px;
    }

    .serviceName {
        font-size: 24px;
        font-weight: bold;
    }

    .description {
        margin-top: 24px;

        font-size: 20px;
        font-weight: 500;
    }
}