@import "./../../variables.scss";

.galery_wrapper {
    .sectionHeader {
        margin-bottom: 24px;
    }

    .jobsDone_wrapper {
        margin: -10px 0;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}