.galeryItem_wrapper {
    position: relative;

    margin: 10px 0;

    // Ширина задается динамически React'ом в зависимости от ширины экрана и количества элементов данного типа.

    min-height: 290px;
    min-width: 250px;

    border-radius: 12px;

    background-position: center;

    .galeryItem_content {
        width: 100%;
        height: 100%;

        border-radius: 12px;
        
        background-color: rgba($color: #000000, $alpha: .75);

        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

        .galeryItem_info {
            position: absolute;
    
            left: 24px;
            bottom: 32px;
    
            color: #fff;
    
            .serviceName {
                margin-bottom: 5px;

                font-size: 24px;
                font-weight: bold;
            }
    
            .jobDate {
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }
}

@media (max-width: 700px) {
    .galeryItem_wrapper {
        width: 100% !important;
        min-width: unset;

        background-size: 100%;
    }
}
