$base-color: #3469F6;
$text-color: #626870;
$form-background-color: #EAEEF3;
$logo-color: #5862EE;

$section-header-size: 32px;
$sub-header-size: 24px;

$profile-pic-width: 320px;
$profile-pic-height: 363px;

$social-icon-width: 48px;
$social-icon-height: 48px;