@import "./variables.scss";

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $text-color;

  #root {
    min-height: calc(100vh - #{($root-padding-top + $root-padding-bottom)});

    margin: 0;
    
    display: flex;
    flex-direction: column;
    
    font-family: "Montserrat", sans-serif;
  
    footer {
      flex-shrink: 0;
      text-align: center;
    }
  }
}

@media (min-width: #{$bp-padding-picture + 1px}) {
  #root {
    width: calc(100vw - #{$root-padding-left * 2});

    padding: $root-padding-top $root-padding-left $root-padding-bottom;
  }
}

@media (max-width: $bp-padding-picture) {
  #root {
    width: calc(100vw - #{$root-padding-left-900px-screen * 2});

    padding: $root-padding-top $root-padding-left-900px-screen $root-padding-bottom;
  }
}

// GLOBAL STYLES.
.sectionHeader {
  // To reduce margin from h# tags.
  margin: 0;

  color: $base-color;

  font-size: $section-header-size;
  font-weight: bold;
  line-height: 43px;
}

.subHeader {
  // To reduce margin from h# tags.
  margin: 0;

  color: $text-color;

  font-size: $sub-header-size;
  font-weight: bold;
}

a[href^="tel:"] {
  font-weight: bold;
  text-decoration: none;

  color: $base-color;
}