@import "./../../variables.scss";

.contacts_wrapper {
    margin: 44px 0 61px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .contactsForm {
        border-radius: 24px;

        background: $form-background-color;

        .inputs_wrapper {
            width: 100%;

            padding: 22px 0 32px;

            display: flex;
            flex-direction: column;

            input, button {
                margin: 12px 34px 12px 32px;
                padding: 20px;
    
                font-family: "Gotham Pro", sans-serif;
                font-size: 24px;
                line-height: 23px;
    
                border: 0;
                border-radius: 12px;
            }

            input::placeholder {
                color: $text-color;
            }

            button {
                padding: 23px 0 20px;

                font-weight: bold;

                color: #fff;

                background: $base-color;

                cursor: pointer;
            }
        }
        
    }
    
    .contacts_content {
        .contactsDescription {
            font-size: 24px;
            font-weight: 500;

            white-space: pre-line;
        }

        .phone_wrapper {
            .subHeader {
                margin-bottom: 4px;
            }

            .phone {
                font-size: 24px;
            }
        }

        .social_wrapper {
            .subHeader {
                margin-bottom: 10px;
            }

            .social, img {
                width: $social-icon-width;
                height: $social-icon-height;
            }

            .social {
                margin-right: 10px;
            }

            .social:last-child {
                margin-right: 0;
            }
        }
    }

    .contacts_content > * {
        margin-bottom: 24px;
    }

    .contacts_content > *:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: #{$bp-flex-dir-contacts + 1px}) {
    .contacts_content {
        width: calc(100% / 2 - 40px / 2);
    }

    .contactsForm {
        width: calc(100% / 2 - 40px / 2);
    }
}

@media (max-width: $bp-flex-dir-contacts) {
    .contacts_wrapper {
        flex-direction: column-reverse;
    }

    .contacts_content {
        width: 100%;
    }

    .contactsForm {
        width: 100%;

        margin-top: 40px;
    }
}